*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



.blue-face
{
    color: #1a73ea;
}


.lightblue-twit
{
    color: #4fc5f7;
}

.blue-link
{
    color: #0a63bc
}

.orange-inst
{
    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
    -webkit-background-clip: text;
            /* Also define standard property for compatibility */
            background-clip: text;
    -webkit-text-fill-color: transparent;
}






/* HEADER */

header
{
    background-color: #000;
    width: 100%;
    height: 90px;
    padding: 10px;
}

header img
{
    width: 6%;
}








/* MAIN */


main
{
    background-color: #3b505d;
    width: 100%;
    height: calc(100vh - 90px - 90px);
    color: white;
    overflow-y: scroll;
}

main .row img:hover
{
    transform: scale(1.05);
}

main .col-3:hover
{
    cursor: pointer;
}







/* FOOTER */

footer
{
    background-color: rgb(208, 219, 228);
    height: 90px;
}



footer i
{
    font-size: 36px;
    padding: 5px;
    margin-left: 10px;
}



footer .d-flex h5:hover, footer .d-flex i:hover
{
    cursor: pointer;
}